**/**

# Project files
!.vscode
!.vscode/**
!compile.sh
!.gitignore

# Scripts
!damagelog.sp
!randweapon.sp

# Includes
!include
!include/villanelle.inc
!include/v_ata_tools_cpy.inc
!include/randweapons_tables.inc
!include/randweapons.inc